{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">File Upload</h1>

{% include 'flash_messages.html' %}

{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">  
  {# Add the file upload field as you learnt for Flask-WTF #}
  {{ form.csrf_token }}  
  
  <div class="form-group">
    {{ form.photo.label }}  
    {{ form.photo(class="form-control") }} 
  
  {% if form.photo.errors %}  
    <ul class="alert alert-danger">
    {% for error in form.photo.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <button type="submit" name="submit" class="btn btn-primary">Upload file</button>
</form>
{% endblock %}